<nav class="top-bar topbar-responsive">
  <!-- Left Navigation -->
  <div class="top-bar-title">
    <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>

    <ul class="menu simple vertical medium-horizontal left-hover">
        <% if current_page?(root_path) == false %>
        <li>
          <%= link_to "Go Home", root_path %>
        </li>
        <% end %>
        <li>
          <%= link_to "Search Jobs", jobs_path %>
        </li> 
        <% if user_signed_in? && current_user.recruiter? %>
          <li>
            <%= link_to "Post Jobs", new_job_path %>
          </li>
        <% else %>
          <li>
            <button type="button" class="button hollow topbar-responsive-button" data-open="jtal-recruiter-access">Post Jobs</button>
          </li>
        <% end %>
        
    </ul>    
  </div>    

  <div id="topbar-responsive" class="topbar-responsive-links">
    <!-- Right Navigation -->
    <div class="top-bar-right">
      <ul class="menu simple vertical medium-horizontal right-hover">
        <% if user_signed_in? %>
        <li>
          <%= link_to "Sign Out", destroy_user_session_path, :class => "button hollow topbar-responsive-button", :method => :delete %>
        </li>
        <% else %>
          <% unless current_page?(root_path) == false %>
          <li>
            <button type="button" class="button hollow topbar-responsive-button" data-open="jtal-member-access">Sign Up / Sign In</button>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%= render 'modal' %>